.xAxis path .xAxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.xAxis text {
    font-family: sans-serif;
    font-size: 11px;
}

.circle {
    fill: cyan;
    stroke: blue;
    stroke-width: 3px;
}

#infos {
    position: fixed;
    margin-left: 200px;
}

.tooltip {
    background-color: rgba(255, 255, 255, 0.84);
    padding: 5px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.bound {
    display: none;
}

#eventdrops {
    width: calc(100% + 200px) !important;
    height: auto !important;
    position: relative;
    left: -200px;
    margin-top: 15px;
}

#eventdrops:hover {
    cursor: move;
}

#card {
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.row #card {
    margin-left: 15px;
    margin-right: 15px;
}

.pd25 {
    padding: 25px;
}

.pd15 {
    padding: 15px;
}

.bigNum {
    font-size: 2em;
}

.color-violet {
    background-color: #7460ee !important;
    color: white;
}

.color-cyan {
    background-color: #00bcd4 !important;
    color: white;
}

.color-darkcyan {
    background-color: rgb(1, 153, 173) !important;
    color: white;
}

.color-green {
    background-color: #8bc34a !important;
    color: white;
}

.color-darkgreen {
    background-color: rgb(115, 163, 61) !important;
    color: white;
}

.color-red {
    background-color: #e91e63 !important;
    color: white;
}

.color-darkred {
    background-color: #cf1a57 !important;
    color: white;
}

.vc {
    line-height: inherit !important;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    height: 100%;
}

@media screen and (min-width: 600px) {
    #content {
        padding: 45px !important;
    }
}

.drop-line text {
    display: none;
}

text {
  cursor:default;
    fill: #fff !important;
}

.legend text {
    fill: black !important;
}

line {
    stroke: #fff !important;
}

path {
    stroke: #fff !important;
}

body {
    overflow-x: hidden;
}

.titre-wh {
    color: white;
    margin-bottom: 60px;
}

#chartRanking .bar {
    fill: lightblue;
    stroke: steelblue;
    stroke-width: 2px;
}

#chartRanking .axis {
    fill: grey !important;
    stroke: grey !important;
    shape-rendering: crispEdges;
}

#eventdrops svg {
    height: 150px;
}
