#cy {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 60px);
    display: block;
    position: relative;
    border-radius: 16px;
    overflow-y: hidden;
}

.little-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#content {
    overflow-y: hidden;
}

body {
    overflow-x: hidden;
}

#modal {
    z-index: 5;
}

.cy-panzoom {
    position: absolute;
    font-size: 12px;
    color: #fff;
    font-family: arial, helvetica, sans-serif;
    line-height: 1;
    color: #666;
    font-size: 11px;
    z-index: 10;
    box-sizing: content-box;
}

.cy-panzoom-zoom-button {
    cursor: pointer;
    padding: 3px;
    text-align: center;
    position: absolute;
    border-radius: 3px;
    width: 10px;
    height: 10px;
    left: 16px;
    background: #fff;
    border: 1px solid #999;
    margin-left: -1px;
    margin-top: -1px;
    z-index: 1;
    box-sizing: content-box;
}

.cy-panzoom-zoom-button:active,
.cy-panzoom-slider-handle:active,
.cy-panzoom-slider-handle.active {
    background: #ddd;
    box-sizing: content-box;
}

.cy-panzoom-pan-button {
    position: absolute;
    z-index: 1;
    height: 16px;
    width: 16px;
    box-sizing: content-box;
}

.cy-panzoom-reset {
    top: 55px;
    box-sizing: content-box;
}

.cy-panzoom-zoom-in {
    top: 80px;
    box-sizing: content-box;
}

.cy-panzoom-zoom-out {
    top: 197px;
    box-sizing: content-box;
}

.cy-panzoom-pan-up {
    top: 0;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #666;
    box-sizing: content-box;
}

.cy-panzoom-pan-down {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    box-sizing: content-box;
}

.cy-panzoom-pan-left {
    top: 50%;
    left: 0;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #666;
    box-sizing: content-box;
}

.cy-panzoom-pan-right {
    top: 50%;
    right: 0;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #666;
    box-sizing: content-box;
}

.cy-panzoom-pan-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #000;
    border-radius: 8px;
    margin-left: -5px;
    margin-top: -5px;
    display: none;
    z-index: 999;
    opacity: 0.6;
    box-sizing: content-box;
}

.cy-panzoom-slider {
    position: absolute;
    top: 97px;
    left: 17px;
    height: 100px;
    width: 15px;
    box-sizing: content-box;
}

.cy-panzoom-slider-background {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100px;
    left: 5px;
    background: #fff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    box-sizing: content-box;
}

.cy-panzoom-slider-handle {
    position: absolute;
    width: 16px;
    height: 8px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    margin-left: -2px;
    z-index: 999;
    line-height: 8px;
    cursor: default;
    box-sizing: content-box;
}

.cy-panzoom-slider-handle .icon {
    margin: 0 4px;
    line-height: 10px;
    box-sizing: content-box;
}

.cy-panzoom-no-zoom-tick {
    position: absolute;
    background: #666;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-left: -1px;
    width: 8px;
    height: 2px;
    left: 3px;
    z-index: 1;
    margin-top: 3px;
    box-sizing: content-box;
}

.cy-panzoom-panner {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 40px;
    margin-left: -1px;
    box-sizing: content-box;
}

.cy-panzoom-panner-handle {
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 999;
    box-sizing: content-box;
}

.cy-panzoom-zoom-only .cy-panzoom-slider,
.cy-panzoom-zoom-only .cy-panzoom-panner {
    display: none;
}

.cy-panzoom-zoom-only .cy-panzoom-reset {
    top: 20px;
}

.cy-panzoom-zoom-only .cy-panzoom-zoom-in {
    top: 45px;
}

.cy-panzoom-zoom-only .cy-panzoom-zoom-out {
    top: 70px;
}

#filter-records {
    border-radius: 4px;
    background-color: white;
    border: 2px solid #ced4da;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0px 15px;
}

.well {
    padding-top: 10px;
    border-bottom: 1px solid #007bff;
}

#search-form {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    display: table;
    z-index: 8;
    max-width: 2000px !important;
    right: 0px;
}

.search-container {
    float: right;
    margin-right: 25px;
    width: 450px;
}

.form-control:focus {
    box-shadow: none !important;
}

.a-search-result:hover {
    background-color: #1f91cf;
    color: white;
}

.loading {
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.spinner {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.btn-push {
    cursor: pointer;
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 999;
    text-decoration: none;
    background: #f7f7f7;
    padding: 4px 10px;
    margin: 0 10px;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #c4c4c4;
    -moz-box-shadow: 0px 5px 0px #c4c4c4;
    -ms-box-shadow: 0px 5px 0px #c4c4c4;
    -o-box-shadow: 0px 5px 0px #c4c4c4;
    box-shadow: 0px 5px 0px #c4c4c4;
    color: #222;
    text-shadow: 1px 1px 1px #fff;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
}

/*==========  Active State  ==========*/

.btn-push:active {
    position: fixed;
    top: 135px;
    right: 20px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
}