body {
  overflow-x: hidden;
  background-color: #f5f5f5 !important;
}

.dragbox h2 {
  font-size: 20px;
}

.dragbox {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none !important;
}

.dragbox:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-header {
  padding: 28px 28px 0px 28px !important;
  background-color: white !important;
  border: none !important;
  color: #686565 !important;
  font-weight: 400 !important;
}

.card-deck {
  padding-right: 20px;
  margin-bottom: 20px;
}

.card-text {
  padding: 0px !important;
}

.sample {
  text-align: justify;
}

.sample_centered {
  text-align: center;
}

.sampleviews_centered {
  vertical-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
}

.sampleviews {
  vertical-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  float: right;
  text-align: right;
}

.sampleviews span {
  float: right;
}

.arc text {
  font: 10px Arial, Georgia, sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #ffffff;
}

/* GRID */

.grid {
  position: relative;
}

.item {
  position: absolute !important;
  color: inherit !important;
  /* margin: 5px; */
  z-index: 1;
  margin-bottom: 30px;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item-content {
  width: 100%;
  height: 100%;
}

.item.muuri-item-dragging .item-content {
  background: blue;
}

.item.muuri-item-releasing .item-content {
  background: blueViolet;
}

.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.violet {
  background-color: #7460ee !important;
  border-radius: 5px;
}

.violet .card-header {
  background-color: #7460ee !important;
  color: white !important;
}

.violet .card {
  background-color: #7460ee !important;
  color: white !important;
}

.violet .text-primary {
  background-color: #7460ee !important;
  color: white !important;
}

.violet li.active {
  background-color: white !important;
  color: white !important;
}

/* SLIDER */

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slider__nav:checked {
  -webkit-animation: check 0.5s linear forwards;
  animation: check 0.5s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__image {
  font-size: 2.7rem;
}

.slider__caption {
  font-weight: 700;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.carousel {
  height: 100%;
}

.carousel-indicators {
  bottom: 0px !important;
}

#viewed-sample .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(23, 0, 0, 0.5) !important;
  border-radius: 10px !important;
}

.blueindicator li.active {
  background-color: #0a99b1 !important;
}

.carousel-indicators li.active {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: white;
  border-radius: 10px !important;
}

.fa-times-circle {
  cursor: pointer;
}

.fa-minus-circle {
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 15px;
  margin-bottom: 10px;
}

#tileselector {
  padding: 15px;
}

#tileselector a {
  text-decoration: none;
  color: #222;
}

.cardbutton1 {
  color: #686565 !important;
  font-size: 1.25rem;
  text-align: right;
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9;
}

.cardbutton2 {
  font-size: 1.25rem;
  text-align: right;
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9;
}
