* {
  outline: 0 !important;
}
.nav-link {
  color: black !important;
}

.top-bar {
  background-color: white;
  color: black !important;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.sidebar {
  /* min-width: 250px; */
  width: 60px;
  max-width: 250px;
  min-height: calc(100vh - 56px);
  transition: all 0.3s;
  z-index: 200 !important;
  position: fixed;
  background-color: #2a3f54 !important;
}
.sidebar:hover {
  /* min-width: 250px; */
  width: 250px;
}
.sidebar ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: #47535f; */
  margin-bottom: 13px;
  padding: 5px 0px;
}
.sidebar .svg-inline--fa {
  margin-right: 18px !important;
  font-size: 20px !important;
  margin-left: 2px !important;
}
.sidebar ul li a {
  display: block;
  padding: 0.75rem 1rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.sidebar ul li a:hover,
.sidebar ul .active a {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.25);
}
.sidebar ul ul a {
  padding-left: 4rem;
  background: rgba(0, 0, 0, 0.25);
}
.sidebar [data-toggle="collapse"] {
  position: relative;
}
.sidebar [data-toggle="collapse"]:before {
  content: "\f0d7";
  font-family: "FontAwesome";
  font-weight: 900;
  position: absolute;
  right: 1rem;
}
.sidebar [aria-expanded="true"] {
  background: rgba(0, 0, 0, 0.25);
}
.sidebar [aria-expanded="true"]:before {
  content: "\f0d8";
}
.sidebar.toggled {
  margin-left: -250px;
}

.content {
  width: 100%;
}
#header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;
}

.sidebar-img {
  width: 100%;
  background-image: url("https://gurayyarar.github.io/AdminBSBMaterialDesign/images/user-img-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100px;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#content {
  padding: 5px;
}
#hour {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-right: 10px;
}
.full-width {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 100vw !important;
}

@media (min-width: 768px) {
  .sided {
    position: absolute;
    top: 56px;
    left: 60px;
    width: calc(100vw - 60px) !important;
    height: calc(100vh - 56px);
  }
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  .sidebar.toggled {
    margin-left: 0;
  }

  .sided {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 99vw !important;
    height: calc(100vh - 56px);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #3498db;
  border-radius: 5px;
  animation: load 1.8s ease-in-out infinite;
}
.loader:before,
.loader:after {
  position: absolute;
  display: block;
  content: "";
  animation: load 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}
.loader:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: #ef4836;
}
.loader:after {
  bottom: -20px;
  width: 35px;
  background: #f5ab35;
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}
.activepage {
  border-right: 6px solid #ffe470;
  background-color: #fbb100;
}
.activepage:hover a{
  color: rgba(255, 255, 255, 1);
  background-color: #fbb100!important;

}
