<meta charset="utf-8" />
<nav class="navbar navbar-expand navbar-dark top-bar" id="navnav">
    <a class="sidebar-toggle mr-3">
        <i class="fa fa-bars"></i>
    </a>
    <a href="/index.html">
        <i class="fa fa-code-branch"></i> NoE</a>
    <div class="navbar-collapse collapse">

        <ul class="navbar-nav ml-auto">
            <div id="hour"></div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    <i class="fa fa-user"></i> Fredo
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Paramètres</a>
                    <a class="dropdown-item" href="#">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="sidebar">
    <ul class="list-unstyled" id="Menu" style="padding-top:25px"></ul>
</div>