<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/template.css" rel="stylesheet">
<script src="/node_modules/popper.js/dist/popper.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" defer></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/node_modules/jquery-ui-dist/jquery-ui.js"></script>
<script src="/js/sidebar.js"></script>
